/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #4A4A4A;
    margin: 0;
    padding: 0;
    background-color: #FBF7F6;
}

.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #FBF7F6;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 30px 20px;  /* Reduced padding */
    background-color: #FBF7F6;
    flex-wrap: wrap;
}

.hero-content {
    max-width: 600px;
    margin-bottom: 10px;  /* Reduced bottom margin */
}

.hero-content h1 {
    font-size: 36px;
    font-weight: bold;
    color: #4A4A4A;
    margin-bottom: 10px;  /* Reduced margin between title and text */
}

.hero-content p {
    font-size: 18px;
    color: #4A4A4A;
    margin-bottom: 10px;  /* Reduced spacing between text */
    line-height: 1.6;
}

.cta-button {
    background-color: #000;
    color: #fff;
    padding: 12px 35px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;  /* Reduced bottom margin */
}

.cta-button:hover {
    background-color: #333;
}

/* Community Events Section */
.community-events {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    padding: 30px 20px;  /* Reduced padding */
    margin-top: -30px;   /* Reduced top margin between sections */
}

.community-events h2 {
    font-size: 28px;
    font-weight: bold;
    color: #2E2E2E;
    margin-bottom: 10px;  /* Reduced spacing */
    position: relative;
    display: inline-block;
}

.community-events p {
    font-size: 16px;
    color: #6d6d6d;
    margin-bottom: 10px;  /* Reduced bottom margin */
}

.cta-button {
    background-color: #000;
    color: #fff;
    padding: 12px 35px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;  /* Reduced bottom margin */
}

.section-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin-left: 0;   /* Remove margin left */
}

/* General adjustments for all sections */
section {
    margin-top: -30px; /* Further reduces the spacing between the sections */
}