/* src/components/Home/HomePage.css */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .hero-content {
    max-width: 600px;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
  
  section {
    padding: 60px 20px;
    text-align: center;
  }
  
  .section-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .community-events, .community-store, .simple-use {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    padding: 40px;
  }
  
  /* Pied de page */
  .footer {
    background-color: #4A4A4A;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    margin-top: 40px;
  }